.cardA {
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background: #717171;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-detailsA {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
}

.card-buttonA {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-bodyA {
    color: rgb(134, 134, 134);
}

.text-titleA {
    font-size: 1.5em;
    font-weight: bold;
}

.cardA:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.cardA:hover .card-buttonA {
    transform: translate(-50%, 50%);
    opacity: 1;
}

/* ALINHAR TEXTO */
.centt      {margin-left: 24%;}
.centt-html {margin-left: 18%;}
.centt-js   {margin-left:  6%;}
.centt-jar  {margin-left:  3%;}
.centt-jar-img {margin-left: 12%;}

/* COR DA BORDA */
.cardApy:hover {
    border-color: #F2BB30;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}
.cardAhtml:hover {
    border-color: #FF5722;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}
.cardAcss:hover {
    border-color: #0D73B7;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}
.cardAjs:hover {
    border-color: #F7E018;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}
.cardAjar:hover {
    border-color: #E03334;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}
.cardAsql:hover {
    border-color: #000;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.25);
}

.centcol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.elementos {
    display: flex;
    flex-direction: column;
}
.elemento {
    border: 1px solid black;
    padding: 10px;
}


.centcll {
    /* padding-left: 20vh; */
    padding-left: 10vh;
}

@media screen and (max-width: 480px) {
    .centt-html {margin-left: 1%}
    .centt-css  {margin-left: -3%}
    .centt-py   {margin-right: 17%;}
    .centt-js   {margin-left:  6%;}
    .centt-jar  {margin-left:  3%;}
    .centt-jar-img {margin-left: 12%;}
}
@media screen and (min-width: 768px) {
    .row.row-cols-md-2 {
        flex-wrap: wrap;
    }

    .row.row-cols-md-2>.col {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row.row-cols-md-3>.col {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .cardA {
        width: 140px;
        height: 179px;
    }

    .centt,
    .centt-html,
    .centt-js,
    .centt-jar-img {
        width: 120px;
        height: auto;
        text-align: left;
    }

    .card-detailsA p {
        font-size: 1.3rem;
    }
}
