/* FOOTER */
.copyright {
    margin-top: 3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-top: 0.5rem;
    color: lightgray;
}
.footer-text-1 {
    text-align: end;
    padding: 1rem;
}
.footer-text-2 {
    text-align: start;
    padding: 1rem;
}
.footer-text-3{
    padding-bottom: 5rem;    
}

@media (max-width: 767px) {
    .flex-column-reverse-mobile {
        flex-direction: column; /* Altera a direção da coluna em dispositivos móveis */
    }
    .footer-text-1, .footer-text-2, .footer-text-3{
        text-align: center;  
    }
    .footer-text-1{
        padding-bottom: 0px;
    }
}
